BusArb/sim/vsim.wlf
BusArb/sim/*.wlf
BusArb/sim/work/client/*.dat
BusArb/sim/work/client/*.dbs
BusArb/sim/work/client_control_logic/*.dat
BusArb/sim/work/client_control_logic/*.dbs
BusArb/sim/work/client_ram_test/*.dat
BusArb/sim/work/client_ram_test/*.dbs
BusArb/sim/work/clock_rst_gen/*.dat
BusArb/sim/work/clock_rst_gen/*.dbs
BusArb/sim/work/lfsr/*.dat
BusArb/sim/work/lfsr/*.dbs
BusArb/sim/work/ram/*.dat
BusArb/sim/work/ram/*.dbs
