BusArb/sim/vsim.wlf
BusArb/sim/*.wlf
BusArb/sim/work/client/*.dat
BusArb/sim/work/client/*.dbs
BusArb/sim/work/client_control_logic/*y.dat
BusArb/sim/work/client_control_logic/*y.dbs
BusArb/sim/work/client_ram_test/*y.dat
BusArb/sim/work/client_ram_test/*.dbs
BusArb/sim/work/clock_rst_gen/*y.dat
BusArb/sim/work/clock_rst_gen/*y.dbs
BusArb/sim/work/lfsr/*y.dat
BusArb/sim/work/lfsr/*y.dbs
BusArb/sim/work/ram/*y.dat
BusArb/sim/work/ram/*y.dbs
